In [6]:
# pipenv instal scikit-learn scipy pandas matplot lib seaborn ipkernel gradio

import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
df_colesterol = pd.read_csv('../dataset/dataset_colesterol.csv')

In [17]:
# Validar arquivo
df_colesterol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  1000 non-null   int64
 1   Grupo Sanguíneo     996 non-null    object
 2   Fumante             997 non-null    object
 3   Nível de Atividade  996 non-null    object
 4   Idade               997 non-null    float64
 5   Peso                997 non-null    float64
 6   Altura              997 non-null    float64
 7   Colesterol          1000 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 62.6+ KB

In [25]:
# Remover Colunas Inuteis: Id

df_colesterol.drop(columns=['Id'], axis=1, inplace=True)

In [26]:
df_colesterol.head(10)

  Grupo Sanguíneo Fumante Nível de Atividade  Idade   Peso  Altura  Colesterol
0               B     Sim              Baixo   33.0   85.1   186.0      199.63
1               A     Não           Moderado   68.0  105.0   184.0      236.98
2               O     Não               Alto   25.0   64.8   180.0      161.79
3               A     Não               Alto   43.0  120.2   167.0      336.24
4              AB     Não              Baixo   79.0   88.5   175.0      226.23
5               B     Não              Baixo   68.0   66.8   170.0      185.31
6               A     Sim              Baixo   60.0  117.3   181.0      289.33
7               O     Sim           Moderado   35.0   86.9   174.0      216.48
8               O     Não              Baixo   62.0   81.3   166.0      235.30
9               B     Sim               Alto   44.0   32.7   165.0       97.79

In [27]:
df_colesterol.tail(10)

,Grupo Sanguíneo,Fumante,Nível de Atividade,Idade,Peso,Altura,Colesterol
990,O,Não,Moderado,21.0,80.7,183.0,203.32
991,AB,Sim,Baixo,73.0,107.5,181.0,246.72
992,AB,Sim,Baixo,46.0,101.7,166.0,308.55
993,AB,Sim,Baixo,41.0,104.5,179.0,267.22
994,O,Não,Moderado,45.0,35.4,167.0,99.13
995,AB,Sim,Moderado,31.0,68.1,166.0,206.81
996,O,Não,Alto,51.0,47.7,170.0,128.03
997,AB,Não,Baixo,39.0,85.5,176.0,211.14
998,AB,Sim,Baixo,61.0,91.2,161.0,284.53
999,A,Não,Baixo,45.0,82.4,163.0,237.45

In [31]:
# renomear colunas
df_colesterol.columns = [
    'grupo_sanguineo',
    'fumante',
    'nivel_atividade_fisica',
    'idade',
    'peso',
    'altura',
    'nivel_colesterol'
]

In [ ]:
# df para df eda 
df_colesterol_eda = df_colesterol.copy()

In [33]:
# df para  df bucketing
df_colesterol_bucketing = df_colesterol.copy()